* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background-color: rgb(59 130 246);
    color: white;
}

.heading {
    font-size: 30px;
    color: blue;
    font-family: 'Bree Serif', serif;
}

#heading1 {
    font-size: 30px;
    color: blue;
    font-family: 'Bree Serif', serif;
}

#heading2 {
    font-size: 23px;
    margin-top: 12px;
    font-family: 'Bree Serif', serif;
}

.paragraph2 {
    margin-top: 23px;

}

.box {
    height: 50vh;
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 92px;

}

 #play1 {
    padding: 3vw 2.2vw;
    
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;

}
#play2 {
    padding: 3vw 2.2vw;
    
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;

}
#play3 {
    padding: 3vw 2.2vw;
    
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;

}
#play4 {
    padding: 3vw 2.2vw;
    
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
 
}
@media (max-width:600px) {
     #play1 {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
        display: none;
    }
    #play2 {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
        display: none;
    }
    #play3 {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
        display: none;
    }
    #play4 {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
        mix-blend-mode: difference;
        display: none;
    }
}
@media (max-width:637px) {

    .box {
        height: 50vh;
        width: 85%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        margin-top: 92px;
        margin-bottom: 20px;
        padding: 33px;
    }



}